.category-analytics-card {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
}

.category-analytics-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.category-chart-wrapper {
  width: 100%;
  /* aspect-ratio: 16 / 9; */
}

/* Mobile */
@media (max-width: 768px) {
  .category-chart-wrapper {
    aspect-ratio: 4 / 3;
  }
}
